@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');

* {box-sizing: border-box;}

h1 {
    color:rgb(226, 43, 211);
     font-size: 50px;
     margin: 0px;
     background-color:indigo;
     text-align: center;
   }
  p {
    color:crimson;
    font-size: 50px;
  }
  ol {
   color:indigo;
   font-size: 20px;
  }
  div{
    display: flex;
    border: 10px solid rgb(192, 253, 255);
    height: 100vh;
    margin: 20px;
    align-items: center;  
    flex-wrap: wrap;
    
} 
  ul {
     color:darkmagenta;
     font-size: 5px;
   }
   body {
        background-color:pink;
        display: flex;
        border: 10px solid rgb(153, 138, 138);
        height: 100vh;
        margin: 20px;
        align-items: center;  
        flex-wrap: wrap;
        
    }

 